:root {
    --page-bg-color: #3F2B21;

    --accent1-primary: #643E2B;
    --accent1-secondary: #7E5541;
    --accent1-tertiary:#4D3327;
    --accent1-quaternary:#B3998D;

    --accent2-primary: #ffaa81;
    --accent2-secondary: #ffbb9a;
    --accent2-tertiary:#FFD5BE;
    --accent2-quaternary:#FFE5D9; 
}

:global(*) {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }

  header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    left: 0;
    right: 0;
    padding: 1rem 1.5rem;
    z-index: 1;
  }